@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");
/*colores: https://www.happyhues.co/palettes/11 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Hind Madurai", sans-serif;
  color: #716040;
  background-color: #f9f4ef;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: #020826;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
  text-align: center;
}
h4,
h5,
h6 {
  color: #020826;
  font-family: "Exo 2", sans-serif;
  text-align: inherit;
}

.header {
  padding: 0.67em 0;
  text-align: center;
  height: 500px;
  background-color: #8c7851;
}

.nav {
  height: 80px;
  background-color: #fffffe;
  font-size: 20px;
  line-height: 4;
}
.nav--fixed {
  position: fixed;
  line-height: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}
.nav__links {
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}
.nav__link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #020826;
}
.nav__link:hover {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  color: #f25042;
}

section {
  padding: 25px;
}

.about {
  margin: 40px 0 0 0;
}
.about__information {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
.img__profile {
  width: 100%;
  height: auto;
}
.information__div {
  flex: 1;
  margin: 30px;
}
.information__div--left h4 {
  text-align: right;
  margin: 10px 0px;
}
.information__div--right h4 {
  text-align: left;
  margin: 10px 0px;
}
.about__description {
  text-align: justify;
}

.skills__list {
  display: inline-block;
  list-style-type: disc;
  margin: 30px 50px;
  padding: 0;
}

.skills__item {
  margin-bottom: 20px;
}

.education {
  background-color: #fffffe;
}
.education__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.area__element {
  margin: 30px 0;
  display: flex;
}
.area__name {
  padding: 20px;
  background-color: #0f4b6e;
  color: #fffffe;
}
.area__description {
  padding: 20px;
  background-color: #eaddcf;
}

.experience {
  background-color: #fffffe;
  display: block;
  padding: 50px 25px;
}
.experience__section {
  padding: 30px 0px;
}
.experience__item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr;
}
.experience__item--left {
  grid-template-areas: "a description b dateLeft c";
  text-align: right;
}
.experience__item--right {
  grid-template-areas: "a dateRight b description c";
  text-align: left;
}
.item__description {
  grid-area: description;
}
.item__date {
  margin-top: 45px;
}
.item__date p {
  display: inline;
  padding: 10px;
  background-color: #0f4b6e;
  color: #fffffe;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.item__date--left {
  grid-area: dateLeft;
  text-align: left;
}
.item__date--right {
  grid-area: dateRight;
  text-align: right;
}

.projects,
.contact,
.map,
.footer {
  background-color: #8c7851;
  color: #fffffe;
}
.projects h2,
.contact h2,
.map h2 {
  color: #fffffe;
}
.projects__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projects__item {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: 2px;
  position: relative;
}
.projects__img {
  width: 100%;
  height: 100%;
}
.cover,
.projects__link,
.projects__item h4 {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.projects__item:hover .cover,
.projects__item:hover .projects__link,
.projects__item:hover h4 {
  visibility: visible;
}
.cover {
  background-color: rgba(2, 8, 26, 0.7);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projects__link {
  display: flex;
  text-decoration: none;
  background-color: #f25042;
  top: 30%;
  left: 40%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}
.projects__item h4 {
  color: #fffffe;
  height: 20%;
  top: 250px;
  font-size: 25px;
  text-align: center;
  background-color: transparent;
}

.projects__link i {
  color: #eaddcf;
  font-size: 50px;
}
.projects__link:hover {
  background-color: #8c7851;
}

.contact__form {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "textarea input"
    "textarea input"
    "textarea input";
}
.form__input {
  background-color: #eaddcf;
  padding: 10px;
  color: #020826;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form__input::placeholder {
  color: #020826;
}
.form__input--submit {
  background-color: #8c7851;
  color: #fffffe;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.form__input--submit:hover {
  border: solid 1px #020826;
}
textarea {
  grid-area: textarea;
  resize: none;
}

.map {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}
.map__iframe {
  margin: 20px 0 0 0;
  width: 100%;
}

.footer {
  border: none;
  font-size: 15px;
  text-align: center;
  padding: 20px 0;
}
