@import url("https://fonts.googleapis.com/css2?family=Nobile&family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap");
/*colores: https://www.happyhues.co/palettes/17 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nobile", "Roboto", Archvio;
  font-size: 20px;
  color: #172c66;
  background-color: #fef6e4;
}

h1,
h2,
h3,
h4,
h5 {
  color: #001858;
  font-family: "Nunito Sans";
  text-align: center;
}

.header {
  padding: 0.67em 0;
  text-align: center;
  height: 500px;
  background-color: #f3d2c1;
}

.nav {
  height: 80px;
  background-color: #fffffe;
}

.nav__links {
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav__link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  line-height: 4;
  font-weight: bold;
  color: #001858;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.nav__link:hover {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  color: #8bd3dd;
}

section {
  margin: 25px;
}

.about__information {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  
}
.information__div {
  flex: 1;
  margin: 30px;
  
}
.information__div--left h4{
  text-align: right;
  margin: 10px 0px;
}
.information__div--right h4{
  text-align: left;
  margin: 10px 0px;
}
.about__description {
  text-align: justify;
}
.projects__section {
  display: flex;
  flex-wrap: wrap;
}

textarea {
  resize: none;
}
